<div class="absolute width height">

	<div class="relative width height-400 border-white cutoff" parallax scroll="body" inner="inner" top="true">

		<div class="relative width height" id="inner">

			<div class="relative width80 height80 center">

				<div class="relative width height50">
					<div class="absolute width text-right top0 font-70">
						{{module.name}}
					</div>
				</div>

				<div class="relative width height50">
					<div class="absolute width text-right bottom0 font-40">
						{{module.description}}
					</div>
				</div>

			</div>

		</div>

	</div>

	<div class="relative width height-1200 black-back">

	</div>

</div>