<div class="relative width">

	<div ng-repeat="page in module.doc">
		<div class="relative width padding-v-100">
			<div class="relative width border-bottom-white font-40">
				{{page.name}}
			</div>
			
			<div ng-repeat="mod in page.items">
				<div class="relative width padding-bottom-100 border-bottom-white">
					<div class="relative width50 height-30 padding-v-20 font-30">
						<div class="absolute width50 {{mod.type.color}}">
							{{mod.type.value}}: 
						</div>
						<div class="absolute width50 right0">
							"{{mod.name}}"
						</div>
						
					</div>


					<div class="relative width padding-v-20 font-20" ng-bind-html="trustHtml(mod.body)"></div>

					<div ng-repeat="block in mod.sets">
						<block type="{{block.id}}" data="block" parent="mod"></block>
					</div>

				</div>

			</div>

		</div>

	</div>
</div>