<div class="relative width height">

	<div class="relative width height-400 border-white cutoff" parallax scroll="body" inner="inner" top="true">

		<div class="relative width height" id="inner">

			<div class="relative width80 height60 center">

				<div class="relative width height50">
					<div class="absolute width top0 green3 font-typewriter font-70">
						{{data.name}}
					</div>
				</div>

				<div class="relative width height50">
					<div class="absolute width bottom0 font-30">
						{{moduleName()}}
					</div>
				</div>

				<div class="absolute width-200 height-50 top10 right10 black-back white shadow pointer" ng-click="backToModule()">
					<div class="absolute center text-center font-25">
						module
					</div>
				</div>

			</div>

		</div>

	</div>

	<div class="relative width black-back min-height-1000">


		<div class="relative width80 hcenter white">

			<div class="relative width">

				<div class="relative width font-20">
					
					<div class="flex flex-row flex-align-center padding-v-20 border-bottom-white">
						
						<div class="width10 {{data.type.color}}">
							{{data.type.value}}
						</div>
						<div class="width20">
							<div ng-repeat="valid in data.valid">
								{{valid.value}}
							</div>
						</div>
						<div class="width20 {{data.required.color}}">
							{{data.required.value}}
						</div>
					</div>
				</div>

				<div class="relative width60 hcenter font-typewriter">

					<div class="relative padding-v-100 hcenter" ng-bind-html="trustHtml(data.d)"></div>
				</div>
			</div>

		</div>

	</div>

</div>
