<div class="relative width">

	<div class="relative width {{data.name.size}}">
		{{data.name.text}}
	</div>

	<div ng-repeat="variable in data.items">
		

		<div class="relative width font-20">
			

			<div class="flex flex-row flex-align-center padding-v-20 border-bottom-white pointer" ng-click="openVariable(variable)">
				

				<div class="width20 green3 font-25 font-typewriter">
					{{variable.name}}
				</div>

				<div class="width10 margin-h-10 {{variable.type.color}}">
					{{variable.type.value}}
				</div>
				
				<div class="width20 margin-h-10">
					
					<div ng-repeat="valid in variable.valid">
						{{valid.value}}
					</div>
				
				</div>
				
				<div class="width10 margin-h-10 {{variable.required.color}}">
					{{variable.required.value}}
				</div>

				<div class="width50 font-typewriter" ng-bind-html="trustHtml(variable.d)"></div>

			</div>



		</div>


	</div>

</div>